<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/a6054fc9-43d9-4843-85e9-e49f0383204b/resourcegroups/newgroup/providers/Microsoft.Web/sites/AzureX20190304021404</ResourceId>
    <ResourceGroup>newgroup</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://azurex20190304021404.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/a6054fc9-43d9-4843-85e9-e49f0383204b/resourcegroups/newgroup/providers/Microsoft.ContainerRegistry/registries/registry20190304021408</ContainerResourceId>
    <ContainerResourceName>registry20190304021408</ContainerResourceName>
    <Subscription>Visual Studio Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20190304021408.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d539beec-a952-4bc4-b5bf-4d4190e8adb4</ProjectGuid>
  </PropertyGroup>
</Project>